# PROXY-MANAGER
# string (e.g. foo@bar.com)
PROXY_MANAGER_EMAIL=
# string
PROXY_MANAGER_PASSWORD=

# DOCKER-REGISTRY
# string (e.g. example.com)
DOCKER_REGISTRY_HOSTNAME=
# string (e.g. foobar)
DOCKER_REGISTRY_USERNAME=
# string (e.g. secret123)
DOCKER_REGISTRY_PASSWORD=