# PROXY-MANAGER
# string
PROXY_MANAGER_EMAIL=
# string
PROXY_MANAGER_PASSWORD=

# DOCKER-REGISTRY
# string
DOCKER_REGISTRY_HOSTNAME=
# string
DOCKER_REGISTRY_USERNAME=
# string
DOCKER_REGISTRY_PASSWORD=